.streams {
    margin: auto;
    max-width: 1000px;
}

.streams__list {
    margin: auto;
    padding: 0;
}

@media (min-width: $desktop-breakpoint) {
    .streams__list {
        display: flex;
        flex-flow: wrap;
        
    }
}

