//// Colors
$primary: #6441A4;
$black: #ffffff;

////Spacing 
$s-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;

////Breakpoints 
$desktop-breakpoint: 50rem;

////Mixins
//@mixin button-click {
//    background: darken($bright-blue, 10%);
//    box-shadow: inset 0px 0px 1px 1px black;
//}